package components

templ Index(greeting string) {
    <html lang="en">
        <head>
            <title>Multilang</title>
        </head>
        <body>
            <h1>{greeting}</h1>
        </body>
    </html>
}
